*{
    font-family: Arial, Helvetica, sans-serif;
}

.topBlocks{
    background-color: rgb(146, 184, 112);
    text-align: center;
    width: 50%;
    height: 170px;
}

#firstTopBlock, #secondTopBlock, #leftMainBlock, #rightMainBlock{
    float: left;
}

#baner, #footer{
    background-color: rgb(100, 61, 49);
    text-align: center;
    padding: 5px;
    height: 80px;
    color: white;
    clear: both;
}

.mainBlocks{
    background-color: rgb(146, 184, 112);
    width: 50%;
    height: 450px;
}

#firstTopBlock a {
    background-image: url("cukierki1.jpg");
    padding-right: 30px;
    padding-bottom: 120px;
    font-size: 150%;
    text-decoration: none;
}

table, td{
    border: dashed 2px green;
    margin: 30px;
    padding: 20px;
}

h1{
    letter-spacing: 20px;
    font-size: 250%;
}